<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/matrix-style.css" rel="stylesheet" />
    <link href="~/Content/matrix-media.css" rel="stylesheet" />
    <link href="~/Content/jquery.gritter.css" rel="stylesheet" />
    <link href="~/Content/a.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <style type="text/css">
        .wid {
            width:1500px;
        }
    </style>

    <title>@RenderSection("TitleSection")</title>
    @RenderSection("HeaderSection")
</head>
<body>
    <!--Header-part-->
    <div id="header">
        <h1><a href="#">LMS</a></h1>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i><span class="text">Welcome Admin</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-user"></i>我的信息</a></li>
                </ul>
            </li>
            <li class=""><a title="" href="~/Admin/Login"><i class="icon icon-share-alt"></i><span class="text">退出</span></a></li>
        </ul>
    </div>
    <!--close-top-Header-menu-->
    <!--sidebar-menu-->
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-signal"></i>订单管理</a>
        <ul>
            <li><a href="~/Admin/Index"><i class="icon icon-home"></i>首页</a></li>
            <li><a href="#">订单管理</a></li>
            <li class="submenu">
                <a href="#">路线详情<span class="label label-important">2</span></a>
                <ul>
                    <li><a href="~/Line/LineAdd">添加路线</a></li>
                    <li><a href="~/Line/LineList">路线列表</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#">车辆情况<span class="label label-important">2</span></a>
                <ul>
                    <li><a href="~/Car/CarAdd">添加车辆</a></li>
                    <li><a href="~/Car/CarList">车辆列表</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#">班次管理<span class="label label-important">2</span></a>
                <ul>
                    <li><a href="~/Classs/ClasssAdd">添加班次</a></li>
                    <li><a href="~/Classs/ClasssList">列表列表</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#">客户管理<span class="label label-important">4</span></a>
                <ul>
                    <li><a href="~/SCustomer/SCustomerList">收货人列表</a></li>
                    <li><a href="~/SCustomer/SCustomerAdd">添加收货人</a></li>
                    <li><a href="~/FCustomer/FCustomerList">发货人列表</a></li>
                    <li><a href="~/FCustomer/FCustomerAdd">添加发货人</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#">用户管理<span class="label label-important">2</span></a>
                <ul>
                    <li><a href="~/Admin/AdminAdd">添加用户</a></li>
                    <li><a href="~/Admin/AdminList">用户列表</a></li>
                </ul>
            </li>
            <li><a href="~/Admin/Login">退出</a></li>
        </ul>
    </div>
    <div class="wid">
        @RenderSection("ContentBody")
    </div>
    

    @Html.Partial("Footer")
    <!--end-Footer-part-->
    <script src="~/scripts/excanvas.min.js"></script>
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/jquery.ui.custom.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.flot.min.js"></script>
    <script src="~/scripts/jquery.flot.resize.min.js"></script>
    <script src="~/scripts/jquery.peity.min.js"></script>
    <script src="~/scripts/fullcalendar.min.js"></script>
    <script src="~/scripts/matrix.js"></script>
    <script src="~/scripts/matrix.dashboard.js"></script>
    <script src="~/scripts/jquery.gritter.min.js"></script>
    <script src="~/scripts/matrix.interface.js"></script>
    <script src="~/scripts/matrix.chat.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/matrix.form_validation.js"></script>
    <script src="~/scripts/jquery.wizard.js"></script>
    <script src="~/scripts/jquery.uniform.js"></script>
    <script src="~/scripts/select2.min.js"></script>
    <script src="~/scripts/matrix.popover.js"></script>
    <script src="~/scripts/jquery.dataTables.min.js"></script>
    <script src="~/scripts/matrix.tables.js"></script>

    <script type="text/javascript">
        // This function is called from the pop-up menus to transfer to
        // a different page. Ignore if the value returned is a null string:
        function goPage(newURL) {
            // if url is empty, skip the menu dividers and reset the menu selection to default
            if (newURL != "") {
                // if url is "-", it is this page -- reset the menu:
                if (newURL == "-") {
                    resetMenu();
                }
                    // else, send page to designated URL
                else {
                    document.location.href = newURL;
                }
            }
        }
        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }
    </script>
</body>
</html>
