@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleSection{
    Index
}
@section HeaderSection{

}
@section ContentBody{
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="返回首页" class="tip-bottom"><i class="icon-home"></i>首页</a></div>
    </div>
    <div class="container-fluid">
        <div class="quick-actions_homepage">
            <ul class="quick-actions">
                <li class="bg_lb"><a href="#"><i class="icon-edit"></i>订单管理</a></li>
                <li class="bg_lg"><a href="~/Line/LineList"><i class="icon-map-marker"></i>线路详情</a></li>
                <li class="bg_lo"><a href="~/Car/CarList"><i class="icon-truck"></i>车辆情况</a></li>
                <li class="bg_ls"><a href="AdminList"><i class="icon-user"></i>用户管理</a></li>
            </ul>
        </div>
        <div>
            <img src="~/img/a.jpg">
        </div>
    </div>
</div>
}

