@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleSection{
    FCustomerAdd
}
@section HeaderSection{

}
@section ContentBody{
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="#" title="返回首页" class="tip-bottom"><i class="icon-home"></i>首页</a>
                <a href="#">客户情况</a>
                <a href="#">收货人信息</a>
                <a href="#" class="current">添加</a>
            </div>
            <h1>添加用户</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>添加信息</h5>
                        </div>

                        <div class="widget-content nopadding">
                            <form action="/SCustomer/SCustomerAdd" method="post" class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">收货人姓名 :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" placeholder="请输入收货人姓名" name="SCustoName" />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">收货人电话 :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" placeholder="请输入收货人电话" name="SCustoTel" />
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success">添加</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

